click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Excel==0.0.7
Flask-Gravatar==0.5.0
Flask-JSGlue==0.3.1
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-WTF==0.14.3
idna==3.1
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
lml==0.1.0
MarkupSafe==1.1.1
mongoengine==0.23.0
openpyexcel==2.5.14
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pymongo==3.11.3
redis==3.5.3
rq==1.7.0
texttable==1.6.3
Werkzeug==1.0.1
WTForms==2.3.3
