{% extends "base_site.html" %}

{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link href="{{url_for('static',filename='css/jquery-ui.min.css')}}" rel="stylesheet">
    <style>
        .ui-autocomplete{
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 20px;
        }
        .modal-content {
            max-width: 1000px;
            max-height: 800px;
            overflow-y: auto;
        }
        table.pj
        .pdf-view{
            white-space: nowrap;
            width: auto !important;
            table-layout: auto !important;
        }

        .tags-look .tagify__dropdown__item{
          display: inline-block;
          border-radius: 3px;
          padding: .3em .5em;
          border: 1px solid #CCC;
          background: #F3F3F3;
          margin: .2em;
          font-size: .85em;
          color: black;
          transition: 0s;
        }

        .tags-look .tagify__dropdown__item--active{
          color: black;
        }

        .tags-look .tagify__dropdown__item:hover{
          background: lightyellow;
          border-color: gold;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Courier <small>{{ letter.reference }}</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="detail-tab" role="tab" data-toggle="tab" aria-expanded="true">Details</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="liens-tab" data-toggle="tab" aria-expanded="false">Courriers Lies</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="comment-tab2" data-toggle="tab" aria-expanded="false">Commentaires</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="detail-tab">
                                        <div class="row">
                                            <div class="col-sm-5 mail_list_column">
                                                <form action="{{ url_for('incoming.save_changes_incoming', reference_id=letter.reference) }}" method="POST" novalidate>
                                                    {{ form.hidden_tag() }}

                                                    {{ form.type.label }}
                                                    {{ form.type(class_="form-control js-simple-select") }}
                                                    {% for error in form.type.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.reference.label }}
                                                    {{ form.reference(class_="form-control", value=letter.reference) }}
                                                    {% for error in form.reference.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.objet.label }}
                                                    {{ form.objet(class_="form-control", value=letter.objet) }}
                                                    {% for error in form.objet.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.date_arrivee.label }}
                                                    {{ form.date_arrivee(class_="form-control datep", value=letter.date_arrivee.strftime('%d/%m/%Y')) }}
                                                    {% for error in form.date_arrivee.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.date_creation.label }}
                                                    {{ form.date_creation(class_="form-control datep", value=letter.date_creation.strftime('%d/%m/%Y')) }}
                                                    {% for error in form.date_creation.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.emetteur.label }}
                                                    {{ form.emetteur(class_="form-control js-select-correspondant-ajax") }}
                                                    {% for error in form.emetteur.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.destinataire.label }}
                                                    {{ form.destinataire(class_="form-control js-simple-select") }}
                                                    {% for error in form.destinataire.errors %}
                                                         <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}

                                                    {{ form.copie_tags.label }}
                                                    {{ form.copie_tags(class_="form-control") }}
                                                    <!--<input id="" type="text" class="tags tags_1 form-control" value="{{ letter.copie }}" />-->
                                                    <label>&nbsp;</label><br/>
                                                    <button class="btn btn-primary form-control" type="submit"><i class="fa fa-save"></i> Save changes</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-7 mail-view">
                                                <iframe
                                                    src="/static/js/viewer/web/viewer.html?file={{url_for('static', filename='uploads/Entrant/')}}{{letter.fichier}}"
                                                    width="650px"
                                                    height="500px"
                                                    style="border: none;"
                                                ></iframe>
                                                <hr>

                                                <div class="col-xs-3">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs tabs-left">
                                                        <li class="active"><a href="#file" data-toggle="tab">File</a></li>
                                                        <li><a href="#attach" data-toggle="tab"><i class="fa fa-paperclip"></i> Attachements ({{ letter.pj_thumbnails|length }})</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-xs-9">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="file">
                                                            <div class="attachment">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#" class="atch-thumb">
                                                                            <img src="{{url_for('static',filename='uploads/Entrant/')}}{{letter.thumbnail}}"
                                                                                 alt="img"
                                                                            />
                                                                        </a>
                                                                        <div class="file-name">
                                                                            {{ letter.fichier }}
                                                                        </div>
                                                                        <div class="links">
                                                                            <a href="#">View</a> -
                                                                            <a href="#">Edit</a>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="attach">
                                                            <div class="attachment">
                                                                <ul>
                                                                    {% for i in letter.pj_thumbnails %}
                                                                        <li>
                                                                            <a class="atch-thumb">
                                                                                <img src="{{url_for('static',filename='uploads/Entrant/')}}{{i}}"
                                                                                     alt="img"
                                                                                />
                                                                            </a>

                                                                            <div class="file-name">
                                                                                {{ i }}
                                                                            </div>
                                                                            <div class="links">
                                                                                <a href="#" class="pdf-show" id="{{ i }}">View</a> -
                                                                                <a href="#">Delete</a>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="liens-tab">
                                        <div class="row">
                                            <table class="data table table-striped no-margin">
                                                <thead>
                                                      <tr>
                                                          <th>Reference</th>
                                                          <th>Objet</th>
                                                          <th>Date d'arrivee</th>
                                                          <th>Emetteur</th>
                                                          <th>Destinataire</th>
                                                          <th>Fichier</th>
                                                          <th>Action</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in letter['liens'] %}
                                                        <tr>
                                                            <td>{{ i["reference"] }}</td>
                                                            <td>{{ i["objet"] }}</td>
                                                            <td>{{ i["enregistrement"].strftime('%d-%m-%Y') }}</td>
                                                            <td>{{ i["emetteur"] }}</td>
                                                            <td>{{ i["destinataire"] }}</td>
                                                            <td>
                                                                {% if i["courrier"] == "Entrant" %}
                                                                    <a href="#" class="atch-thumb pdf-show" id="{{ i['thumbnail'] }}">
                                                                        <img src="{{url_for('static',filename='uploads/Entrant/')}}{{i['thumbnail']}}"
                                                                             alt="img" height="80"
                                                                        />
                                                                    </a>
                                                                {% else %}
                                                                    <a href="#" class="atch-thumb pdf-show" id="{{ i['thumbnail'] }}">
                                                                        <img src="{{url_for('static',filename='uploads/Sortant/')}}{{i['thumbnail']}}"
                                                                             alt="img" height="80"
                                                                        />
                                                                    </a>
                                                                {% endif %}
                                                            </td>
                                                            <td class="vertical-align-mid">
                                                                <a class="btn btn-danger btn-xs"><i class="fa fa-2x fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="comment-tab">
                                        <div class="row">
                                            <button id="compose" class="btn btn-sm btn-success" type="button">COMMENTER</button>
                                            <ul id="messages" class="messages">
                                                {% for i in letter['commentaires'] %}
                                                    <li>
                                                        <img src="/static/images/img.jpg" class="avatar" alt="Avatar">
                                                        <div class="message_date">
                                                            <h3 class="date text-info">{{ i["date_commentaire"].strftime('%d') }}</h3>
                                                            <p class="month">{{ i["date_commentaire"].strftime('%m/%Y') }}</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">{{ i["auteur"] }}</h4>
                                                            <blockquote class="message">{{ i["texte"] }}</blockquote>
                                                            <br />
                                                            <div class="btn-group">
                                                                <button class="btn btn-sm btn-info" type="button"  data-placement="left" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></button>
                                                                <button class="btn btn-sm btn-danger" type="button" data-placement="right" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="compose col-md-6 col-xs-12">
        <div class="compose-header">
            Nouveau Commentaire
            <button type="button" class="close compose-close">
              <span>×</span>
            </button>
        </div>

        <div class="compose-body">
            <div id="alerts"></div>

            <textarea class="resizable_textarea form-control comment" rows="5"></textarea>
        </div>

        <div class="compose-footer">
            <button id="send" class="btn btn-sm btn-success" type="button">Send</button>
        </div>
    </div>

    <!-- MODAL VIEW -->
    <div class="modal fade" id="modalShowPdf" tabindex="-1" role="dialog" aria-labelledby="modalShowPdfLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-notify" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close waves-effect pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <iframe
                        class="modal-iframe"
                        src="/static/js/viewer/web/viewer.html?file={{url_for('static',filename='uploads/Entrant/liste_dot.pdf')}}"
                        width="890px"
                        height="650px"
                        style="border: none;"
                ></iframe>
            </div>
        </div>
    </div>
    <!-- /MODAL VIEW -->

<script>
    $(document).ready(function() {

        var input = document.getElementById('copie_tags'),
            // init Tagify script on the above inputs
            tagify = new Tagify(input, {
                 whitelist: {{ services|tojson }},
                 maxTags: 10,
                 dropdown: {
                    maxItems: 20,
                    classname: "tags-look",
                    enabled: 0,
                    closeOnSelect: false
                 }
            });

        $('#send').click(function(){
            if ($('.comment').val() !== ""){
                $.getJSON($SCRIPT_ROOT + '/_add_comment_incoming', {
                    reference: $('#reference').val(),
                    comment: $('.comment').val(),
                },
                function(data) {
                    console.log(data);
                    let message = document.getElementById('messages');
                    html = '<li>' +
                                '<img src="/static/images/img.jpg" class="avatar" alt="Avatar">' +
                                '<div class="message_date">' +
                                    '<h3 class="date text-info">' + moment(moment.now()).format("DD") + '</h3>'+
                                    '<p class="month">' + moment(moment.now()).format("MM/YYYY") + '</p>'+
                                '</div>'+
                                '<div class="message_wrapper">'+
                                    '<h4 class="heading">' + data["auteur"] + '</h4>'+
                                    '<blockquote class="message">' + data["texte"] + '</blockquote>'+
                                    '<br />'+
                                    '<div class="btn-group">'+
                                        '<button class="btn btn-sm btn-info" type="button"  data-placement="left" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></button>'+
                                        '<button class="btn btn-sm btn-danger" type="button" data-placement="right" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>'+
                                    '</div>'+
                                '</div>'+
                           '</li>';
                    message.innerHTML += html;
                    $('.comment').val("");
                });
            }
            return false;
        });

        $('.datep').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
            autoUpdateInput: false,
            //minYear: 1901,
            //maxYear: parseInt(moment().format('YYYY'),10)
        });

        $('.datep').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY'));
        });

        $('.pdf-show').click(function(){
            event.preventDefault();
            filename = this.id.split('.')[0] + '.pdf';
            console.log(filename);
            var filepath = 'uploads/Entrant/' + filename;
            var link = "/static/js/viewer/web/viewer.html?file={{url_for('static',filename='FILENAME')}}".replace("FILENAME", filepath);
            console.log(link);
            $('.modal-iframe').attr("src", link);
            $('#modalShowPdf').modal();
        });
    });
</script>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
{% endblock %}